<header>
	<nav class="banner" >
		<div class="to-inline-block">
			<%= link_to "ZainFriends", root_path , class:"logo-tag"%>

		</div>
		
		<ul class="ul-li-aliner to-inline-block a-tage-cleaner">
			<li><%= link_to "home",root_path ,class:"cool-a-tag-3"%></li>
			<li><%= link_to "All Comment", friends_path, class:"cool-a-tag-3"%></li>
			<% if user_signed_in?%>
				<li><%=link_to "Add Comment",new_friend_path, class:"cool-a-tag-3"%></li>
				<li><%= link_to "LogOut",destroy_user_session_path ,method: :delete ,class:"cool-a-tag-3"%></li>
				<li><%= link_to "EditProfile",edit_user_registration_path ,class:"cool-a-tag-3"%></li>			
			<%else%>
				<li><%= link_to "LogIn",new_user_session_path ,class:"cool-a-tag-3"%></li>
				<li><%= link_to "SignUp",new_user_registration_path ,class:"cool-a-tag-3"%></li>			
			<%end%>
			

		</ul>
	</nav>
</header>